* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.presentation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 80vh;
}
.casque {
    height: 110%;
}
   
header {
    min-height: 15vh;
    background-color: rgba(0, 0, 0, 0.215);
    padding: 30px;
}

ul 
a:hover {
    color: rgb(255, 72, 0);
    text-decoration: none;
}
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    display: flex;
    gap: 30px;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
}

h1 {
    font-size: 85px;
    text-align: center; 
    font-family: 'Bebas Neue', cursive;
    background-color: none;
    align-items: center;
    width: 500px;
    margin: 120px;
    padding-top: 15px;
    height: 10px;
}

h3 {
    font-size: 32px;
    text-align: center; 
    font-family: 'Roboto', sans-serif;
    background-color: none;
    align-items: center;
    width: 700px;
    margin: 40px;
    padding-left: 1px;
    height: 1px;
}

h4 {
    text-align: center;
    margin-top: 10px;
    margin: 150px;
    min-height: 40px;
    padding: 15px 5px;
    font-size: 26px;
    border-radius: 50px;
    border: 3px solid rgb(255, 72, 0);
    background-color: rgb(255, 238, 231);
    outline: none;
    cursor: pointer; 
}

h5 {
    font-size: 50px;
    color: white;
    font-weight: 900;
    text-align: center; 
    text-decoration: dashed;
    font-family: 'Roboto', sans-serif;
    width: 1300px;
    margin: 100px;
    height: 1px;
    padding-bottom: 10px;
}

h6 {
    font-size: 30px;
    font-style: italic;
    font-weight: 400;
    text-align: center; 
    font-family: 'Roboto', sans-serif;
    align-items: center;
    width: 1300px;
    margin: 100px;
    margin-block-end: 200px;
    margin-block-start: 1px;
    height: 1px;
}

h7 {
    font-size: 50px;
    font-weight: 900;
    color: white;
    text-align: center; 
    text-decoration: dashed;
    font-family: 'Roboto', sans-serif;
    width: 1300px;
    margin: 100px;
    height: 1px;
    padding-bottom: 10px;
}

h8 {
    font-size: 30px;
    font-style: italic;
    font-weight: 400;
    text-align: center; 
    font-family: 'Roboto', sans-serif;
    align-items: center;
    width: 1300px;
    margin: 100px;
    margin-block-end: 600px;
    margin-block-start: 1px;
    height: 1px;
}

h9 {
    font-size: 50px;
    font-weight: 900;
    color: white;
    text-align: center; 
    text-decoration: dashed;
    font-family: 'Roboto', sans-serif;
    width: 1300px;
    margin: 100px;
    height: 1px;
    padding-bottom: 10px;
}

h10 {
    color: rgb(255, 209, 192);
    font-size: 30px;
    font-weight: 400;
    text-align: center; 
    font-family: 'Roboto', sans-serif;
    align-items: center;
    width: 1300px;
    margin: 100px;
    margin-block-end: 100px;
    margin-block-start: 1px;
    height: 1px;
}

h11 {
    color: rgb(252, 161, 125);
    font-size: 30px;
    font-weight: 400;
    text-align: center; 
    font-family: 'Roboto', sans-serif;
    align-items: center;
    width: 1300px;
    margin: 100px;
    margin-block-start: 600px;
    margin-block-start: 1px;
    height: 1px;
}

h12 {
    color: rgb(255, 143, 99);
    font-size: 30px;
    font-weight: 400;
    text-align: center; 
    font-family: 'Roboto', sans-serif;
    align-items: center;
    width: 1300px;
    margin: 100px;
    margin-block-end: 100px;
    margin-block-start: 1px;
    height: 1px;
}

h13 {
    color: rgb(255, 106, 47);
    font-size: 30px;
    font-weight: 400;
    text-align: center; 
    font-family: 'Roboto', sans-serif;
    align-items: center;
    width: 1300px;
    margin: 100px;
    margin-block-end: 1px;
    margin-block-start: 1px;
    height: 1px;
}

h14 {
    color: rgb(255, 72, 0);
    font-size: 30px;
    font-weight: 400;
    text-align: center; 
    font-family: 'Roboto', sans-serif;
    align-items: center;
    width: 1300px;
    margin: 100px;
    margin-block-end: 1px;
    margin-block-start: 1px;
    height: 1px;
}

h15 {
    font-size: 50px;
    font-style: italic;
    color: black;
    font-weight: 900;
    text-align: center; 
    text-decoration: dashed;
    font-family: 'Roboto', sans-serif;
    width: 1300px;
    margin: 190px;
    height: 1px;
    padding-bottom: 10px;
    border-radius: 150px;
    padding: 75px 5px;
    border: 3px solid rgb(255, 72, 0);
    background-color: rgb(255, 238, 231);
    outline: none;
    cursor: pointer;
}

p {
    font-size: 20px;
    text-align: left;
    font-weight: 300;
    color:blck;
} 
 a { 
    text-align:center;
    text-decoration: underline;
    margin: 10px;
 } 

 #projets {
    background-color: rgb(255, 72, 0);
    height: 5vh;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

 #caractéristiques {
    background-color: rgba(0, 0, 0, 0.539);
    height: 120vh;
    width: 195vh;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

#fonctions {
    background-color: rgba(0, 0, 0, 0.632);
    height: 120vh;
    width: 195vh;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

#options {
    background-color: rgba(0, 0, 0, 0.712);
    height: 120vh;
    width: 195vh;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

#téléchargement {
    background-color: rgb(0, 0, 0);
    height: 65vh;
    width: 195vh;
    display: flex;
    justify-content:space-between;
    flex-wrap: wrap;
}

.small-images {
    padding-left: 250px;
    margin-block-end: 800px;
}

 @media screen and (max-width: 900px) {
    nav {
        flex-direction: column;
    }
    
    nav h1 {
        padding-bottom: 30px;

    }

    nav ul {
        flex-direction: column;
    }
}